<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <h1>Admin</h1>
<!--    <th:block >-->
        <table>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>State</th>
                <th>Change State</th>
                <th>Edit</th>

            </tr>
            <tr th:each="user: ${listUsers.listUsers}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getFullName()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getState()}"></td>
                <td><form th:action="change-state">
                    <button type="submit" th:if="${user.getState() != 'ACTIVE'}" th:name="action" th:value="${user.getId()}">Change</button>
                </form></td>
                <td>
                    <form method="get" th:action="edit">
                        <button th:value="${user.getId()}" th:name="id" type="submit" >Edit
                        </button>
                    </form>
                </td>
            </tr>
        </table>
</body>
</html>