<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form method="post" action="#" th:action="register" th:object="${registerRequest}">
    Full Name: <input type="text" th:field="*{fullName}"> <br/>
    Email: <input type="text" th:field="*{email}"><br/>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    Password: <input type="text" th:field="*{password}"> <br/>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <button type="submit">Register</button>
</form>
</body>
</html>